
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


body {
    font-family: Arial, sans-serif;
    background-color:grey;
    color:white;
    line-height: 1.6;
   }

h1, h2, h3 {
    color: #00ffcc;

}


nav {
    width: 100%;
    background-color:rgba(0, 0, 0, 0.082) ;
    padding: 15px 40 px;
      display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    position: relative; /* è collegato con absolute sotto*/
}
nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #00ffcc;
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}
nav a:hover::after {
    width: 100%;
}

header {
    height: 80vh;
    background-image: url(https://sm.ign.com/t/ign_it/screenshot/default/videogames-controller-1920x1080_75ss.1280.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
      display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.247);
   width: 100%;
   display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; 
  
    }
.play > h1 {
animation-name: bounce;
animation-duration: 300ms;
animation-timing-function: cubic-bezier(0.2, 0.65, 0.6, 1);
animation-iteration-count: infinite;
animation-direction: alternate;
  
}


.moduli {
 
    padding: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
   
}


.modulo {
    background-color: rgba(0, 0, 0, 0.993);
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.modulo:hover {
    transform: translateY(-10px);
   
}

.modulo img {
    width: 100%;
    display: block;
}
.modulo:focus {
    outline: 2px solid #00ffcc;
}

.modulo h3, .modulo p {
    padding: 10px;
 
}

.back img {
    width: 100px;
    transition: all 0.3s ease;
    border-radius: 10px;
   position: fixed;
   bottom: 30px ;
   right: 30px;
}

.back img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.9);
}
@media (max-width: 480px) {
    header {
        height: 60vh;
    }

    h1 {
        font-size: 1.5rem;
    }

    .modulo {
        width: 90%;

    }
    .back img {
        width: 30px;
        height: 30px;
    }
   }
   @media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    }
    @keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}